@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  color: #333;
}

body {
  background-color: #f9f9f9;
}

.main-navigation {
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-navigation ul li {
  display: inline-block;
  margin-right: 20px;
}

.main-navigation ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.main-navigation ul li a:hover {
  color: #666;
}

.main-navigation ul {
  display: flex;
  justify-content: space-between;
}

.main-navigation li.pull-right {
  margin-left: auto;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

input[type="submit"] {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #218838;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-item {
  flex: 0 0 calc(25% - 10px);
  margin-bottom: 20px;
  box-sizing: border-box;
}

.photo-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .photo-item {
    flex: 0 0 calc(33.33% - 10px);
  }
}

@media (max-width: 768px) {
  .photo-item {
    flex: 0 0 calc(50% - 10px);
  }
}

@keyframes zoom {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

.animate-zoom {
  animation: zoom 0.6s;
}

.menu-overlay {
  position: fixed;
  top: -100%;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  background-color: #007bff;
  overflow-y: auto;
  z-index: 1000;
  transition: top 0.5s ease;
}

#closeButton {
  background-color: #ff4444;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu-content {
  text-align: center;
  color: #fff;
}

.menu-content nav a {
  color: #fff;
  text-decoration: none;
  font-size: 48px;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
}

@media (min-width: 1280px) {
  .menu-content nav a {
    font-size: 4rem;
  }
}

@media (max-width: 1280px) {
  .menu-content nav a {
    font-size: 3.5rem;
  }
}

@media (max-width: 640px) {
  .menu-content nav a {
    font-size: 2.5rem;
  }
}

.menu-content img {
  max-width: 300px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.menu-content nav:last-child a {
  margin: 0 10px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 2s linear infinite;
  width: 200px;
  height: auto;
}

@keyframes view-slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-view-slide {
  animation: view-slide 10s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#viewContainer img {
  animation: fadeIn 0.5s ease-out;
}
