<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photographer Card</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    />
  </head>
  <body>
    <header class="font-mono p-4 absolute top-0 left-0 w-full">
      <a
        href="/"
        id="brand"
        class="brand text-blue-500 hover:text-green-300 text-2xl z-50"
        >glowcoma.online</a
      >
      <button
        id="menuButton"
        class="relative z-50 bg-transparent text-blue-500 cursor-pointer text-lg leading-6 rounded transition duration-300"
      >
        Menu
      </button>
    </header>

    <div
      id="menuOverlay"
      class="uppercase fixed top-0 z-40 left-0 w-full bg-blue-500 shadow-md text-white transition-transform -translate-y-full ease-in-out"
    >
      <div
        id="menuContent"
        class="grid grid-cols-12 p-5 h-screen opacity-0 transition lg:gap-5 sm:gap-1"
      >
        <div
          id="navContainer"
          class="col-start-1 col-end-12 md:col-end-6 lg:col-end-8 flex flex-col justify-end gap-12"
        >
          <div
            id="mainNav"
            class="overflow-hidden flex-col font-bold text-lg lg:text-5xl md:text-2xl"
          >
            <div class="flex-row items-center">
              <a href="/" class="hover:text-green-400">HOME</a>
              &bull;
              <a href="/portfolio" class="hover:text-green-400">PORTFOLIO</a>
            </div>
            <div class="flex-row items-center mt-4">
              <a href="/about" class="hover:text-green-400">ABOUT</a>
              &bull;
              <a href="/contact" class="hover:text-green-400">CONTACT</a>
            </div>
          </div>
          <div id="extraNav" class="flex items-center gap-4 text-base">
            <a href="#" class="hover:text-green-400">VK</a>
            <a href="#" class="hover:text-green-400">PINTEREST</a>
            <a href="#" class="hover:text-green-400">TUMBLR</a>
            <a href="#" class="hover:text-green-400">INSTAGRAM</a>
          </div>
        </div>
        <div
          class="flex-col md:col-start-9 md:col-end-13 h-full hidden md:flex items-end justify-end overflow-hidden"
        >
          <img
            src="{{ url_for('static', filename='images/photographer2.jpeg') }}"
            alt="Person Image"
            class="block w-full h-auto max-w-none rounded-lg"
          />
        </div>
      </div>
    </div>

    <main class="relative w-screen h-screen pb-4 pt-20 px-4">
      {% block content %}{% endblock %}
    </main>

    <footer class="bg-blue-700 text-white p-6 font-mono">
      <div
        class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0"
      >
        <p class="text-sm md:text-base">
          &copy; 2024 glocoma.online.999hp.d4h9
        </p>
        <nav>
          <ul class="flex space-x-4">
            <li><a href="/" class="hover:underline">Home</a></li>
            <li><a href="/portfolio" class="hover:underline">Portfolio</a></li>
            <li><a href="/about" class="hover:underline">About</a></li>
            <li><a href="/contact" class="hover:underline">Contact</a></li>
          </ul>
        </nav>
        <a href="#" class="text-sm md:text-base hover:underline"
          >User Agreement</a
        >
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
